@keyframes alert-in {
    from {
        opacity: 0;
        transform: translateY(0.5rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes alert-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(0.5rem);
    }
}

.alert-in {
    animation: alert-in 300ms ease forwards;
}

.alert-out {
    animation: alert-out 300ms ease forwards;
}