main {
    padding: 1rem;

    h1 {
        font: var(--title);
        padding-bottom: 1.5rem;
    }


    & a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--color-brand);
        font: var(--tt-link);
        margin-bottom: 0.5rem;

        & img {
            object-fit: cover;
            width: 1.1rem;
            height: 1.1rem;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2rem;
        
        gap: 1rem;
        
        & input {
            font: var(--tt-link);
            text-align: center;
            background-color: var(--background-secondary);
            border-radius: 10px;
            border: 2px solid var(--border-primary);
            padding: 0.8rem;
        }

        & button {
            font: var(--tt-link);
            color: var(--always-white);
            background-color: var(--color-brand);
            border: none;
            border-radius: 10px;
            padding: 0.7rem;
        }
    }

    ul {
        font: var(--tt-paragraph);
        display: flex;
        flex-direction: column;
        margin: auto;
        gap: 1rem;

        & li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style: none;
            background-color: var(--background-secondary);
            border-radius: 9px;
            padding: 0.875rem;
        }
    }
}